<div class="container">
    <h2>Contrato de Compra e Venda</h2>
    <p>A compra de qualquer produto na loja virtual www.mystore.com.br, de propriedade da MS
    Comércio Digital Ltda., inscrita no CNPJ/MF sob o nº. 00.000.000/0001-00, com sede na Avenida
    Null , 1000 São Paulo, SP, CEP: 05001-100. (“MyStore”) ou através do televendas da My Store, implica na concordância por
    parte do consumidor com todos os termos e condições do presente Contrato de Compra e Venda
    de Produtos (“Contrato”).<br>
    Considerando que:<br>
    (i) A My Store é uma empresa cujas principais atividades consistem na comercialização de produtos
    via internet ou através de telemarketing;<br>
    (ii) O Usuário é pessoa física ou jurídica, regularmente inscrita no CPF/MF ou CNPJ/MF, com
    cadastro corretamente preenchido, cujas informações tenham sido validadas pela My Store; e
    (iii) O Usuário declara estar agindo de boa-fé e no gozo de sua capacidade civil para celebrar o
    presente Contrato, declarando que compreendeu, leu e está de acordo com todos os termos e
    condições aqui previstos.<br>
    DOS PROCEDIMENTOS DA COMPRA E VENDA<br>
    1. Após efetuar uma solicitação de compra de produtos na loja virtual ou através do
    televendas da My Store, o Usuário deverá aguardar o recebimento de notificação via e-mail em que
    será informado sobre a confirmação da transação comercialsolicitada (“Compra e Venda”).<br>
    1.1. A My Store se reserva ao direito de não confirmar a Compra e Venda nos casosde (i) Usuário
    com informações cadastrais incorretas ou inválidas, (ii) entregas a serem realizadas fora das
    áreas de entrega disponibilizadas pela My Store no ato da Compra e Venda, (iii) fraude, má-fé,
    descumprimento de quaisquer das condições e políticas do site, abuso de direito,e/ou demais
    situações que impliquem em violação de dispositivos legais ou enriquecimento ilícito por parte
    do Usuário, e/ou (iv) nas demais hipóteses previstas de acordo com a legislação aplicável.<br>
    2. O valor da Compra e Venda estará presente no e-mail de confirmação da mesma, sendo
    que ao Usuário serão disponibilizadas as formas de pagamento previstas no site
    www.mystore.com.br no ato da Compra e Venda.<br>
    2.1. O pagamento pela modalidade de cartão de crédito poderá não ser aprovado caso haja
    inconsistência de dados do titular. O boleto bancário gerado para pagamento terá validade de
    01 (um) dia útil, sendo automaticamente cancelado após o decurso do referido prazo. Compras
    pelos cartões de débito Visa Electron e Mastercard Maestro,só são possíveis a partir do desktop
    e/ou notebook e precisam ser autenticadas, podendo ser solicitada a senha do cartão. O
    pagamento também poderá ser realizado via PIX, bem como quaisquer outras formas de
    pagamento que futuramente forem implementadas.<br>
    2.2. O valor total da compra poderá englobar custos adicionais, tais como, mas não se
    limitando a, frete, juros, tarifa de parcelamento e quaisquer outros valores que eventualmente
    indicirem sobre a operação, os quais estarão presentes no momento de finalização da compra
    pelo Usuário e no e-mail de confirmação da compra, conforme cláusula segunda acima.<br>
    2.3. Por tarifa de parcelamento entende-se todos os custos operacionais que permitam que o
    Usuário compre com mais flexibilidade e facilidade na plataforma da My Store e tenha opções de
    parcelamento nos produtos adquiridos diretamente das lojas parceiras. O valor da tarifa de
    parcelamento está vinculado ao valor e modalidade dos produtos a serem adquiridos e poderá
    corresponder a até 20% sobre o total da compra.<br>
    3. Os preços e condições de pagamento podem variar de acordo com a oferta, prazo,
    validade e/ou estoques.<br>
    DIREITOS E OBRIGAÇÕES<br>
    Devolução por Arrependimento<br>
    4. A devolução de produtos por arrependimento poderá ser realizada em até 30(trinta) dias
    corridos, contados após o recebimento dos produtos (“Arrependimento”).<br>
    4.1. Para exercer o Arrependimento o Usuário deverá efetuar login no site da My Store, acessar o
    link “Minha Conta” e selecionar “Troca e Devolução”, onde terá acesso a todasas Compras e
    Vendas realizadas, poderá ver os produtos adquiridos e optar por “Trocar/Devolver”. Feita a
    opção, o Usuário deverá preencher um breve formulário e aguardar o recebimento da
    confirmação da troca ou devolução por e-mail.<br>
    4.2. O Usuário poderá optar por (i) ser ressarcido pelo valor da Compra e Venda,sendo que tal
    ressarcimento será realizado por meio da mesma modalidade de pagamento utilizado no ato da
    Compra e Venda, ou (ii) receber vale compras que poderá ser utilizado no site da Dafiti em até
    180 (cento e oitenta) dias contados da sua emissão, em valor equivalente ao valor da Compra e
    Venda. Em ambas hipóteses previstas neste parágrafo, o Usuário deverá receber o valor
    equivalente à Compra e Venda, que incluirá o valor pago pelo frete,se aplicável.<br>
    4.3. A devolução prevista nesta cláusula,somente será aprovada pela My Store apósconstatado (i)
    o efetivo retorno do produto ao centro de distribuição da My Store, no endereço indicado no
    preâmbulo deste Contrato; (ii) a confirmação pela My Store de que o produto foi devolvido sem
    uso, inclusive produtos das categorias: roupa íntima, moda praia, em sua embalagem original,
    acompanhado das etiquetas, manuais, acessórios, nota fiscal e perfume, cosméticos e
    maquiagens que não são passíveis de troca ou devolução, caso a embalagem tenhasido violada
    (iii) a aprovação da devolução pelo controle de qualidade da My Store, após análise queserá realizada
    em até 05 (cinco) dias úteis.<br>
    4.4. Caso o Usuário exerça o arrependimento em desacordo com esta cláusula ou contrato
    e/ou caso seja identificada qualquer divergência ou violação do produto devolvido, não será
    aceita a devolução e devolveremos o produto ao Usuário sem comunicação prévia.
    TROCA POR VÍCIO OU FALHA DO PRODUTO<br>
    5. A troca de produtos que apresentem falha ou vício de fabricação poderá ser realizada
    desde que a solicitação seja efetuada dentro do prazo de garantia legal de 90 (noventa) dias
    contados após o recebimento dos produtos, nos termos do artigo 26 do Código de Defesa do
    Consumidor.<br>
    5.1. Para exercer a troca o Usuário deverá entrar em contato com a central de atendimento
    da My Store.<br>
    5.2. O Usuário poderá optar por trocar o produto adquirido na Compra e Vendapor outro
    produto disponível no site, de igual valor, ou de valor menor. Caso o produto pelo qual o Usuário
    esteja fazendo a troca seja (i) de valor igual ao produto a ser trocado, a My Store processará a troca
    e novo prazo de entrega será informado ao Usuário; (ii) de valor menor que o produto a ser
    trocado, o Usuário poderá optar por receber o ressarcimento ou um vale trocas(que poderá ser
    utilizado no site da My Store em até 180 (cento e oitenta) dias contados da sua emissão). Em todas
    as hipóteses previstas neste parágrafo, a Dafiti não cobrará do Usuário o valor do frete referente
    à troca, entretanto o valor da troca não deverá incluir o valor pago pelo frete na Compra e Venda,
    se aplicável. Para casos de itens de categoria pesada não é possível realizar troca, somente a
    devolução do valor pago.<br>
    5.3. A troca prevista nesta cláusula, somente será aprovada pela My Store após constatado (i) o
    efetivo retorno do produto ao centro de distribuição da My Store, no endereço indicado no
    preâmbulo deste Contrato; (ii) a confirmação pela My Store de que o produto foi devolvido
    juntamente com manuais, acessórios e nota fiscal; (iii) a aprovação da troca ou devolução pelo
    controle de qualidade da My Store, após análise que será realizada em até 05 (cinco)dias úteis.
    5.4. Na hipótese de qualquer produto ser recebido com a embalagem aberta ou avariada ou
    ser identificada eventual falta de algum acessório ou produto em desacordo com adquirido, o
    Usuário deverá comunicar imediatamente à Dafiti e à transportadora que efetuara entrega.
    5.5. Caso o Usuário realize a troca do produto em desacordo com esta cláusula e/ou caso seja
    identificada qualquer divergência ou violação do produto, não será aceita a devolução e
    devolveremos o produto ao Usuário sem comunicação prévia.<br>
    5.6. A devolução do produto para o Centro de Distribuição da My Store poderá ser realizado por
    meio de postagem ou coleta.<br>
    PRAZO DE RESTITUIÇÃO DE PAGAMENTOS<br>
    6. Na hipótese do pagamento ter sido efetuado por meio de cartão de crédito, o estorno
    será realizado no próprio cartão de crédito, e será visualizado pelo Usuário no prazo deaté 02
    (duas) faturas após a conclusão da devolução ou troca, podendo variar de acordo com a data de
    vencimento do cartão. Pagamento de produtos efetuado por meio de boleto bancário, o Usuário
    será reembolsado por meio de depósito na conta corrente do titular do pedido, no prazo de até
    05 (cinco) dias úteis, contador a partir da conclusão da devolução ou troca. Caso otitular do
    pedido não possua conta em banco, será realizada ordem de pagamento. Em nenhumahipótese
    a My Store realizará o reembolso em conta diferente da conta utilizada na realização da Compra e
    Venda.<br>
    PRODUTOS EM PROMOÇÃO<br>
    7. Caso seja necessária troca e/ou devolução de produtos adquiridos em promoção, o valor
    considerado será o valor efetivamente pago pelo produto pelo Usuário, e não o seu valor original.
    PRAZO E CONDIÇÕES DE ENTREGA<br>
    8. Os produtos são entregues de segunda a sexta-feira, das 08h00min às 21h00min e,
    eventualmente, aos sábados em horário comercial, e o prazo previsto para entregaserá iniciado
    somente após a confirmação dos dados cadastrais e do respectivo pagamento pelainstituição
    financeira, que poderá demorar até 02 (dois) dias úteis para ser realizado.<br>
    8.1. O serviço de entrega de produtos é realizado por meio dos Correios ou de outras
    transportadoras contratadas pela My Store.<br>
    8.2. Parágrafo Segundo: A entrega poderá ser realizada diretamente a terceiros, como
    porteiros ou parentes.<br>
    8.3. Após a conclusão do pedido, não será possível fazer qualquer alteração no endereço
    informado para entrega.<br>
    8.4. A entrega poderá não ser realizada dentro do prazo estipulado em razão (i) da ausência
    do Usuário no endereço indicado, (ii) dos dados cadastrais estarem incorretos, (iii) da recusa do
    produto pelo Usuário, (iv) da mudança de endereço do Usuário, e (v) da ocorrência de algum
    evento de força maior, como enchentes, catástrofes naturais, acidentes de grandes proporções
    ou outras ocasiões e/ou situações que impeçam a realização da entrega.<br>
    8.5. A My Store disponibiliza o serviço de entrega agendada para o Estado de São Paulo,
    disponibilizando datas e turnos a serem escolhidos pelo cliente (Manhã: das 07h às 11h; Tarde:
    das 12h às 18h; Noite: das 19h às 23h). A entrega não poderá ser agendada aos sábados,
    domingos e feriados. Para o recebimento do pedido, é necessária a presença de uma pessoa no
    local de destino, podendo a entrega ser realizada diretamente a terceiros. Em caso de ausência
    do destinatário ou de terceiros, a mercadoria retornará para o Centro de Distribuição e a compra
    será cancelada. Não será cobrado frete diferenciado para este tipo de serviço, que poderá ser
    escolhido pelo cliente no carrinho de compras, no campo “4 - Entrega agendada apenas para
    My Store”. Este serviço não está disponível para produtos vendidos na modalidade Marketplace,
    pois a entrega não é realizada pela My Store. A entrega também não poderá ser agendada se o
    endereço de destino for de difícil acesso ou considerado de risco. Nesta hipótese, o produto
    deverá ser retirado pelo cliente na unidade mais próxima dos Correios.<br>
    9. O presente Contrato visa assegurar o atendimento facilitado do Consumidor, nos termos
    do disposto no inciso IV do artigo 4º do Decreto nº. 7.962/13.<br>
    10. A My Store se reserva ao direito de cancelar a transação comercial na hipótese de ser
    identificada qualquersituação que caracterize fraude, má-fé, descumprimento de quaisquer das
    condições e políticas do site, abuso de direito, e/ou demais situações que impliquem em
    violação de dispositivos legais ou enriquecimento ilícito.<br>
    11. A relação entre a My Store e o Usuário é regulada exclusivamente pela legislação aplicável às
    relações de consumo no território brasileiro e pelas condições estabelecidas neste Contrato.<br>
    FORO<br>
    12. O foro para dirimir qualquer questão pertinente a este Contrato seráo de domicílio do
    consumidor.<br></p>
</div>
